<div class="alert alert-dark">
  <p id="notice"><%= notice %></p>
</div>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown(@note.description) %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @note.is_completed %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>

