<!DOCTYPE html>
<html>
  <head>
    <title>GrofersAssigmentApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>


  </head>

  <body>
  <%= render 'shared/home/nav' %>
  <div class="container">
    <%= yield %>
  </div>
  </body>

</html>
